* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

// @media (min-width: 375px) and (max-width: 812px) {
//   html,
//   body {
//     overflow-x: hidden;
//   }

//   body {
//     position: relative;
//   }
// }
