.projects {
  height: 100%;
  background-color: #fff;
  padding-bottom: 3%;
  overflow: hidden;

  .projects-title {
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    color: $buttonColor;
  }

  .projects-container {
    width: 80%;
    margin: 0 auto;

    .project-group {
      display: flex;
      justify-content: space-between;
      margin: 4% auto;

      &:nth-child(3) {
        flex-direction: row-reverse;
      }

      img {
        width: 700px;
      }

      .tech {
        font-weight: 700;
      }

      .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // width: 500px;
        width: 45%;
        line-height: 1.4;
      }

      .social-icons {
        margin-top: 2%;

        i {
          font-size: 2em;
          color: $icon-fontColor;
          padding-right: 25px;

          &:hover {
            color: $buttonColor;
          }
        }
      }
    }

    .seperator {
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid #000;
    }
  }

  .work-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .work-btn {
      width: 10%;
      text-decoration: none;
      text-align: center;
      background: $buttonColor;
      color: #fff;
      padding: 10px 25px;
      border: none;

      border-radius: 3px;
      &:hover {
        background: #fff;
        color: $buttonColor;
        outline: 1px solid $buttonColor;
        box-shadow: 0 0 0 1pt $buttonColor;
      }
    }
  }

  @media (min-width: 375px) and (max-width: 812px) {
    .projects-title {
      text-align: center;
    }

    .projects-container {
      width: 95%;
    }

    .project-group {
      flex-direction: column;
      align-items: center;
      width: 95%;

      img {
        width: 95% !important;
      }

      &:nth-child(3) {
        flex-direction: column !important;
      }

      .project-info {
        align-items: center;
        width: 95% !important;
        margin-top: 20px;

        .project-desc {
          width: 95%;
          margin: 1% auto;
          text-align: center;
        }
        .social-icons {
          margin: 0 auto;
          width: 40%;
          display: flex;
          justify-content: space-between;

          i {
            padding-right: 0;
          }
        }
      }
    }
    .work-btn-container {
      .work-btn {
        width: 90%;
      }
    }
  }
}
