* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 30px;
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
}

.nav-container .logo {
  width: 50%;
  height: 50px;
  z-index: 2;
}

.nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 2;
}

.nav-container .nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: lighter;
}

.nav-container .nav a:hover {
  border-bottom: 2px solid #434cc7;
}

@media (min-width: 375px) and (max-width: 812px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 120px;
  }
  .nav-container .logo {
    height: 75px;
    width: 100%;
    padding-bottom: 20px;
  }
  .nav-container .nav {
    font-size: 0.8em;
    width: 100%;
  }
}

.landing {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landing .hero-image {
  background-image: url("../images/road_1920x1080.png");
  height: 100vh;
  width: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: -75px;
  position: relative;
}

.landing .main-heading {
  width: 30%;
  position: absolute;
  top: 30%;
  left: 10%;
}

.landing .main-heading .mobile-bg {
  display: none;
}

.landing .main-heading .title {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
}

.landing .main-heading .cta-btn {
  width: 40%;
  text-decoration: none;
  text-align: center;
  background: #434cc7;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
}

.landing .main-heading .cta-btn:hover {
  background: #fff;
  color: #434cc7;
  outline: 1px solid #434cc7;
  -webkit-box-shadow: 0 0 0 1pt #434cc7;
          box-shadow: 0 0 0 1pt #434cc7;
}

.landing .main-heading p {
  line-height: 1.8;
  margin-bottom: 20px;
}

.landing .main-heading .social-icons {
  margin-top: 30px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .main-heading .social-icons i {
  font-size: 2em;
  color: #2a2a2a;
}

.landing .main-heading .social-icons i:hover {
  color: #434cc7;
}

@media (min-width: 375px) and (max-width: 812px) {
  .landing {
    margin: 0 auto;
  }
  .landing .hero-image {
    display: none;
    height: 100%;
  }
  .landing .main-heading {
    width: 95%;
    margin: 10% auto;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing .main-heading .mobile-bg {
    margin-left: 20%;
    height: 50%;
    width: 100%;
    display: inline-block;
  }
  .landing .main-heading .title {
    text-align: center;
  }
  .landing .main-heading p {
    text-align: center;
    width: 95%;
    margin: 10% auto;
  }
  .landing .main-heading .cta-btn {
    width: 95%;
    margin: 5% auto 10%;
  }
}

.nav h4 a.current {
  background: #434cc7;
  color: #fff;
  padding: 5px 15px;
}

@media (min-width: 375px) and (max-width: 812px) {
  .nav h4 a.current {
    background: none;
    color: #2a2a2a;
    padding: 0;
  }
}

.about {
  height: 100%;
  background: #f3f2f0;
}

.about .about-title {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  color: #434cc7;
}

.about .about-container {
  margin: 5% auto 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about .about-info p {
  padding-right: 25%;
  line-height: 1.8;
}

.about .skills-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .skills-container .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-self: flex-start;
  padding-right: 70px;
}

.about .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50% auto;
  padding: 0 30px;
}

.about .icon-container .skill-icon {
  font-size: 3em;
  color: #2a2a2a;
}

@media (min-width: 375px) and (max-width: 812px) {
  .about .about-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .about .skills-container .skills {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-right: 0;
  }
  .about .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
  .about .about-container .about-info {
    width: 95%;
    margin: 0 auto;
  }
  .about .about-container .about-info p {
    padding: 0 0 30px;
  }
}

.projects {
  height: 100%;
  background-color: #fff;
  padding-bottom: 3%;
}

.projects .projects-title {
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  color: #434cc7;
}

.projects .projects-container {
  width: 80%;
  margin: 0 auto;
}

.projects .projects-container .project-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4% auto;
}

.projects .projects-container .project-group:nth-child(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects .projects-container .project-group img {
  width: 700px;
}

.projects .projects-container .project-group .tech {
  font-weight: 700;
}

.projects .projects-container .project-group .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  line-height: 1.4;
}

.projects .projects-container .project-group .social-icons {
  margin-top: 2%;
}

.projects .projects-container .project-group .social-icons i {
  font-size: 2em;
  color: #2a2a2a;
  padding-right: 25px;
}

.projects .projects-container .project-group .social-icons i:hover {
  color: #434cc7;
}

.projects .projects-container .seperator {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

.projects .work-btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.projects .work-btn-container .work-btn {
  width: 10%;
  text-decoration: none;
  text-align: center;
  background: #434cc7;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
}

.projects .work-btn-container .work-btn:hover {
  background: #fff;
  color: #434cc7;
  outline: 1px solid #434cc7;
  -webkit-box-shadow: 0 0 0 1pt #434cc7;
          box-shadow: 0 0 0 1pt #434cc7;
}

@media (min-width: 375px) and (max-width: 812px) {
  .projects .projects-title {
    text-align: center;
  }
  .projects .projects-container {
    width: 95%;
  }
  .projects .project-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .projects .project-group img {
    width: 95% !important;
  }
  .projects .project-group:nth-child(3) {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .projects .project-group .project-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .project-group .project-info .project-desc {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  .projects .work-btn-container .work-btn {
    width: 90%;
  }
}

.contact {
  height: 100%;
  background: #f3f2f0;
  overflow: hidden;
}

.contact .form-container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form-container .contact-title {
  padding-top: 20%;
  text-align: center;
  color: #434cc7;
}

.contact .form-container form {
  width: 70%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 3%;
}

.contact .form-container form input,
.contact .form-container form textarea {
  margin: 2% auto;
  width: 100%;
  padding: 2% 1%;
  font-family: 'Raleway', sans-serif;
  resize: none;
}

.contact .form-container form .submit-btn {
  background: #434cc7;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
}

.contact .form-container form .submit-btn:hover {
  background: #fff;
  color: #434cc7;
  outline: 1px solid #434cc7;
  -webkit-box-shadow: 0 0 0 1pt #434cc7;
          box-shadow: 0 0 0 1pt #434cc7;
}

@media (min-width: 375px) and (max-width: 812px) {
  .contact .form-container {
    width: 100%;
  }
  .contact .form-container form {
    width: 95%;
  }
}

footer {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2a2a2a;
  padding-top: 60px;
}

footer p {
  padding-bottom: 20px;
}

footer .social-icons {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

footer .social-icons i {
  font-size: 2em;
  color: #000;
}

footer .social-icons i:hover {
  color: #434cc7;
}

@media (min-width: 375px) and (max-width: 812px) {
  footer .social-icons {
    width: 95%;
  }
  footer p {
    width: 95%;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */